:root {
    --green-50: #e6f6f4;
    --green-100: #b0e4dd;
    --green-200: #8ad7cc;
    --green-300: #54c5b5;
    --green-400: #33baa7;
    --green-500: #00a991;
    --green-600: #009a84;
    --green-700: #007f6d;
    --green-800: #005d50;
    --green-900: #00473d;
    --red-50: #f7e6e6;
    --red-100: #e5b0b0;
    --red-200: #d88a8a;
    --red-300: #c65454;
    --red-400: #bb3333;
    --red-500: #aa0000;
    --red-600: #9b0000;
    --red-700: #790000;
    --red-800: #5e0000;
    --red-900: #470000;

    --main-background: #f8f9fc;
}
