.container {
    padding: 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.centered {
    display: flex;
    flex-direction: column;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.green-500 {
    background-color: var(--green-500) !important;
}

.white-text {
    color: white !important;
}

.margin-top-32 {
    margin-top: 32px;
}
