.container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main-background);
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.card-content {
    margin-left: 24px;
    margin-right: 24px;

    &.small-vertical-margin {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    &.big-vertical-margin {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
