<mat-toolbar>
    <mat-icon class="toolbar-icon">elderly</mat-icon>
    <span class="title">R.I.P Application</span>
    <span class="spacer"></span>

    <div
        class="user-button"
        [matMenuTriggerFor]="menu"
        aria-label="button menu"
    >
        <mat-icon
            class="toolbar-icon"
            aria-hidden="false"
            aria-label="user icon"
            fontIcon="person"
        ></mat-icon>
        {{ username }}
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
</mat-toolbar>
