.spacer {
    flex: 1 1 auto;
}

.flex-center {
    display: flex;
    align-items: center;
}

.green-500 {
    color: var(--green-500);
}

.button {
    cursor: pointer;
}

.title {
    font-size: 20px;
}

.toolbar-icon {
    color: var(--green-700);
    margin-right: 4px;
}

.disconnect-icon {
    color: var(--red-500) !important;
}

mat-toolbar {
    background-color: white;
}
