<div class="container">
    <div class="content">
        <span matSnackBarLabel> {{ data.title }} </span>
        <span matSnackBarActions>
            <button
                mat-icon-button
                aria-label="close button"
                matSnackBarAction
                (click)="snackBarRef.dismissWithAction()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>

    <mat-progress-bar [value]="progressValue"></mat-progress-bar>
</div>
